<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <div class="row">
      <h2><b>The Latest News from Mars</b></h2>
      <h3>{{ mars.title }}</h3>
      <h4>{{ mars.para }}</h4>
    </div>
    <div class="row">
      <div class="col-md-8">
      <h2>Featured Mars Image</h2>
      <img class="img-fluid" src="{{  mars.image  }}" alt="Featured Mars Image">
      </div>
      <div class="col-md-4 ">
        <h2>Mars Facts</h2>
        {{ mars.table | safe}}
      </div>
    </div>
    <div class="row text-center">
      <h2>Mars Hemispheres</h2>
      <hr>
    </div>
    <div class="row">
      <p>Put Hemisphere Images Here</p>
    </div>
    

  </div>
</body>

</html>